<%- contentFor('body') %>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Página em Manutenção
    </h1>
    <ol class="breadcrumb">
        <li class="active">Página em Manutenção</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">



</section>
<!-- /.content -->



<%- contentFor('scripts') %>
<script>
    // alert(pageMixin);
</script>
